# Getting an API key
# 1. Open https://platform.claude.com/dashboard
# 2. Click the 'Get API Key' button
ANTHROPIC_API_KEY=my_anthropic_key
ANTHROPIC_MODEL=claude-sonnet-4-6
ANTHROPIC_MAX_TOKENS=1024
ANTHROPIC_TEMPERATURE=0
